.scoreboard {
  width: 100%;
  margin-top: 20px;
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      
      th, td {
        padding: 12px;
        text-align: center;
        border: 1px solid #ccc;
      }
      
      th {
        background-color: #f2f2f2;
        color: black;
      }
      
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      button {
        background-color: #fff;
        border: none;
      }
      button:hover{
        color: pink;
      }
      input{
        background-color: #fff;
        border: none;
        
      }
    }
  }
  